<form method="POST" enctype="multipart/form-data">
    <input type="checkbox" name="level"> Level
    <input type="checkbox" name="eliminations"> Eliminations
    <input type="checkbox" name="deaths"> Deaths
    <input type="checkbox" name="mobs"> Mobs
    <input type="checkbox" name="gold"> Gold
    <input type="checkbox" name="xp"> XP
    <input type="checkbox" name="damage"> Damage
    <input type="checkbox" name="healing"> Healing
    <div style="margin: 15px 0;">
        <input type="file" name="file" accept="image/*">
    </div>
    <button>Submit</button>
</form>